<!DOCTYPE html>
<html  xmlns:th="http://thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<body>
   <section class="banner d-flex justify-content-center align-items-center">
    <div class="text-center"> 
     <h1 class="font-weight-bold" style="color:white; font-size:34px; font-family: 'Lato', sans-serif;">Smart contact manger</h1>
     
     <p style="font-size:17px;color:#993399;font-weight:bold">lasellus rutrum, quam ac aliquam pharetra</br>
      elit urna sollicitudin ligula, ut ultrices  </p>
    
      <button class="btn btn-primary btn-lg text-white" style="font-size:17px; border-radius:10px" >Get Start</button>
   </div>  
   </section>
   
   <p></p>
</body>
</html>